@use "colors";
@use "components";
@use "mixins";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

.burger-btn {
	position: fixed;
	top: 15px;
	right: 15px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 99;
	
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: "";
		background-color: colors.$pure-white;
		transition: width 0.3s;
	}

	&__bars {
		width: 100%;
		&::after {
			width: 60%;
			top: 13px;
		}
		&::before {
			width: 30%;
			top: 26px;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-image: colors.$blue-gradient-solid;
	z-index: 98;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(200%);
	transition: transform 0.6s ease-in-out;

	&--active {
		transform: translateX(0);
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		position: relative;
		margin: 0.5em 0;
		padding: 0.5em 0;
		text-decoration: none;
		color: colors.$pure-white;
		font-size: 2.4rem;
		transition: transform 3s;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -10px;
			height: 100%;
			width: 3px;
			transform: scaleY(0);
			background-color: colors.$pure-white;
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
	background-color: colors.$dark;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: colors.$pure-white;
	@include mixins.heroImg("../img/header-hero-640.jpg");
	background-attachment: scroll;

	&__title {
		font-family: "Dancing Script", cursive;
		font-size: 4.8rem;
		font-weight: 400;
	}
	&__text {
		font-size: 1.4rem;
	}
	&__btn {
		text-decoration: none;
		padding: 1em 1.5em;
		margin-top: 3em;
		font-size: 1.4rem;
		text-transform: uppercase;
		color: colors.$primary-color;
		background-color: colors.$pure-white;
		border: none;
		border-radius: 8px;

		&::before {
			background-color: colors.$light-white;
		}
	}
}

@keyframes navItem {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0%);
	}
}

.nav-items-animation {
	animation: navItem 1s both;
}

//MAIN
//DREAMS

.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		width: 100%;
		margin-bottom: 1em;
	}

	&__title {
		margin-bottom: 0.5em;
	}

	&__text {
		font-size: 1.4rem;
	}
}

//HERO IMG

.hero-img {
	position: relative;
	padding: 10em 2em;
	@include mixins.heroImg("../img/dreams-hero-640.jpg");
	text-align: center;
	color: colors.$pure-white;
	overflow: hidden;

	&__title {
		font-family: "Dancing Script", cursive;
		font-size: 4.8rem;
		font-weight: 400;
		margin-bottom: 0.5em;
	}

	&__text {
		padding: 1em 0;
	}
}

//ISLANDS

.islands {
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: colors.$pure-white;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.islands__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.islands__card-info {
				transform: rotateY(0deg);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition: transform 0.8s, opacity 0.8s;

			&--first {
				background-image: colors.$light-blue-gradient,
					url(../img/beach-p1-640.jpg);
			}
			&--second {
				background-image: colors.$blue-gradient, url(../img/beach-p2-640.jpg);
			}
			&--third {
				background-image: colors.$purple-gradient, url(../img/beach-p3-640.jpg);
			}

			&-title {
				font-family: "Dancing Script", cursive;
				font-weight: 400;
				font-size: 2.8rem;
			}

			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;

				i {
					margin-right: 0.3em;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: colors.$light-blue-gradient-solid;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 0.8s, opacity 0.8s;

			&-title {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.2em;
				font-family: "Dancing Script", cursive;
				font-size: 2.8rem;
				font-weight: 400;
			}

			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;
				&-item {
					padding: 1em;
					border-bottom: 1px solid colors.$light-white;
				}
				&-item:nth-last-child(1) {
					border-bottom: none;
				}
			}
			&-btn {
				position: absolute;
				bottom: 2em;
				left: 50%;
				transform: translateX(-50%);
				padding: 1em 2em;
				width: 80%;
				border: none;
				background-color: colors.$green-color;
				color: colors.$primary-color;
				cursor: pointer;
				transition: background-color 0.6s, color 0.6s;
				&::before {
					background-color: colors.$green-color-hover;
				}
			}
		}
	}
}

//OFFERS

.offers {
	position: relative;
	@include mixins.heroImg("../img/offer-hero-640.jpg");
	overflow: hidden;
	.section-heading {
		color: colors.$pure-white;
	}

	&__option {
		margin: 1em 0;
		box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
		background-color: colors.$pure-white;
		overflow: hidden;

		&-img {
			width: 100%;
			transition: transform 0.4s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&-info {
			padding: 2em;
		}
		&-heading {
			margin-bottom: 0.5em;
			font-size: 2.4rem;
			font-weight: 300;
		}
		&-text {
			margin-bottom: 0.5em;
			font-size: 1.3rem;
			color: colors.$dark;
		}

		&-btn {
			margin: 1em 0;
			padding: 0.8em;
			width: 100%;
			color: colors.$pure-white;
			background-color: colors.$primary-color;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			&::before {
				background-color: colors.$secondary-color;
			}
		}
	}
}

//REVIEWS

@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 6em 0;
	}
}

.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #2e2e2e2e;
		transition: transform 0.3s;
		min-height: 300px;
		&:hover {
			transform: scale(0.95);
		}

		strong {
			position: absolute;
			bottom: 1em;
			left: 2em;
		}

		&-img {
			position: absolute;
			top: 8%;
			left: 75%;
			transform: translate(-50%, -50%);
			img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&-quote {
			margin-bottom: 1em;
			font-size: 3rem;
			color: colors.$primary-color;
		}

		&-text {
			margin-bottom: 2em;
			font-size: 1.4rem;
			color: colors.$dark;
		}
	}
}

.contact {
	position: relative;
	background-color: colors.$light-white;
	overflow: hidden;

	.white-block-left {
		background-color: colors.$dark;
	}

	&__form {
		display: flex;
		flex-direction: column;

		&-top {
			display: flex;
			flex-direction: column;
		}

		&-label {
			margin-bottom: 0.5em;
			text-transform: uppercase;
		}
		&-input {
			@include mixins.contactForm;
		}
		&-textarea {
			max-width: 100%;
			min-width: 100%;
			min-height: 150px;
		}
		&-btn {
			align-self: flex-end;
			margin: 2em 0.5em;
			padding: 0.6em 1.5em;
			color: colors.$pure-white;
			border: none;
			border-radius: 8px;
			background-color: colors.$primary-color;
			cursor: pointer;
		}

		&::before {
			background-color: colors.$secondary-color;
		}
	}
}

//FOOTER

.footer {
	color: colors.$pure-white;
	background-color: colors.$dark;
	.wrapper {
		padding: 6em 2em 0em;
	}
	&__box {
		font-size: 1.4rem;
		&-desktop {
			display: none;
		}
		&-title {
			margin-bottom: 1em;
			font-size: 3rem;
			text-transform: uppercase;
		}
		&-social {
			margin: 2em 0 1em;
		}
		&-link {
			color: colors.$pure-white;
			font-size: 3.8rem;
			padding: 0 0.3em;
			text-decoration: none;
			transition: color 0.3s;
			&:hover {
				color: colors.$primary-color;
			}
			&:first-child {
				padding-left: 0;
			}
		}
	}
	&__bottom {
		padding: 1em;
		text-align: center;
	}
}

// MEDIA

@media (min-width: 576px) {
	.dreams {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;
				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 40%;
				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}

	.offers {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;
			&-img {
				width: 50%;
				height: auto;
				object-fit: cover;
				&--right {
					order: 1;
				}
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: colors.$pure-white;
				z-index: 1;
				width: 50%;
			}
			&-heading {
				margin-bottom: 0.5em;
				font-size: 2.8rem;
			}
			&-btn {
				padding: 1em;
			}
		}
	}
}

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}
	.header {
		&__title {
			font-size: 6.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
		&__btn {
			font-size: 1.6rem;
		}
	}
	.dreams {
		&__text {
			font-size: 1.8rem;
		}
	}
	.hero-img {
		padding: 20em 2em;

		hr {
			margin: 0 auto;
			width: 70%;
		}

		&__text {
			font-size: 2rem;
		}
	}
	.cont {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.islands__card-cont {
			width: 40%;
			margin: 2em auto;
		}
	}
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box {
			margin: 0 2em;
			width: 25%;
			&:first-child {
				width: 50%;
			}
			&-desktop {
				display: block;
			}
			&-title {
				font-size: 2.4rem;
			}
			&-list {
				list-style: none;
			}
			&-item {
				margin-bottom: 1em;
				a {
					color: colors.$light-white;
					text-decoration: none;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		top: 35px;
		right: 35px;
	}
	.header {
		@include mixins.heroImg("../img/header-hero-1920.jpg");

		&__title {
			font-size: 10rem;
		}
	}
	.nav {
		&__item {
			font-size: 4.8rem;
		}
	}

	.dreams {
		&__box {
			margin: 5em 0;

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}

	.hero-img {
		padding: 30em 2em;
		@include mixins.heroImg("../img/dreams-hero-1920.jpg");

		&__title {
			font-size: 7.2rem;

			hr {
				width: 60%;
				min-width: 900px;
			}
		}
	}
	.offers {
		@include mixins.heroImg("../img/offer-hero-1920.jpg");

		&__option {
			height: 300px;
		}
		&-text {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 1100px) {
	.cont {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.islands__card-cont {
			width: 30%;
			margin: 2em auto;
		}
	}
}
